
h1, h2 {
    text-align: center;
}

html {
/*    min-height: 100%;*/
    background: url(img/book-bg.png) center center fixed no-repeat;
    background-size: contain;
    background-position: bottom;
}



.textbox.wrapper {
    min-height: 20%;
    position: absolute;
}



.textcontainer {
    background: rgba(0,0,0,0.5);
    min-height: 100px;
    margin-top: 10%;
    text-align: center;
}
.textcontainer p{
    font-size: 120%;
}

.buttonbox {
    text-align: center;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
}

html {
}

.btncustom {
    margin-top: 0.5em;
}

body {
    background: transparent;
}
